$primary-color: #0C62BF;
$secondary-color: #CDCDCD;
$success-color: #00460F;
$info-color: #1C4FA7;
$warning-color: #874900;
$danger-color: #A90000;
$cancel-color: #5D0089;
$light-color: #E6ECF1;
$dark-color: #2E4057;
$link-color: #007bff;