.kit {
      display: flex;
      margin: 100px auto;
      max-width: 1600px;
  
      .sidebar {
          width: 212px;
          height: 100vh;
          background-color: #FFFFFF;
          color: $dark-color;
          display: flex;
          flex-direction: column;
          padding: 20px;
          box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
          align-items: center;
          gap: 30px;
  
          .sidebar-menu {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 6px;
  
              .sidebar-item {
                  display: flex;
                  align-items: center;
                  padding: 15px 10px;
                  font-size: 16px;
                  cursor: pointer;
                  transition: background-color 0.3s;
  
                  &:hover {
                      color: $primary-color;
                  }
  
                  i {
                      margin-right: 28px;
                      font-size: 20px;
                      max-width: 17px;
                  }
              }
  
              .button {
                  width: 100%;
                  padding: 15px 10px;
                  font-size: 16px;
                  border-radius: 5px;
                  border: none;
                  cursor: pointer;
                  margin: 4px;
                  text-align: center;
                  text-decoration: none;
                  display: flex;
                  align-items: center;
                  color: $dark-color;
                  transition: background-color 0.3s;
                  font-family: 'Montserrat', sans-serif;
  
                  i {
                      margin-right: 28px;
                      font-size: 20px;
                      max-width: 17px;
                  }
  
                  &.button-light {
                      background-color: $light-color;
                      color: $dark-color;
                      &:hover {
                        background-color: $dark-color;
                        color: $light-color;
                    }
                  }
  
                  &.button-blue {
                      background-color: $primary-color;
                      color: white;
                      border: 1px solid $primary-color;
                      &:hover {
                        background-color: $light-color;
                        color:$dark-color;
                        border: 1px solid $dark-color;
                    }
                  }
  
                  &.button-center {
                      justify-content: center;
                  }
              }
          }
      }

      .filter-cards {
              padding: 1rem;
            gap: 1rem;
    
          
          .container-filter {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }
          
          .filter-state {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }

         .content-filter-cards{
            display: flex;
            flex-direction: row;
            gap: 1rem;
         }
          
          .btn {
            background-color:#FFFFFF;
            border: none;
            border: 1px solid gray;
            color: black;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
          }
          
          .container-stats {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }
          
          .stat-cards {
            width: 250px;
            background-color: #CED8E4;
            display: flex;
            align-items: center;
            gap: 1rem;
            border-radius: 10px;
            padding: 0.5rem;
          }
          
          .cards {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }
          
          .card-icon {
            border-radius: 10px;
            padding: 1rem;
            font-size: 1.5rem;
            color: white;
          }
          
          .red {
            background-color: $danger-color;
          }
          
          .blue {
            background-color: $primary-color;
          }
          
          .title {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 1.5rem;
          
            &.red-title {
              color: $danger-color;
            }
            &.blue-title {
              color: $primary-color;
            }
          }
          .card-text p {
            margin: 0;
            font-size: 15px;
          }
          
      }
  }
  