@import '_variables';

.tag {
    margin-left: 20px;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    
        &_card {
            border: 1px solid blue;
            border-radius: 100px;
            padding: 3px 10px;

            font-weight: 600;
        }
}

.redTag{
    border: 2px solid $danger-color;
    color: $danger-color;

}

.blueTag {
    border: 2px solid $info-color;
    color: $info-color;

}

.purpleTag {
    border: 2px solid $cancel-color;
    color: $cancel-color;

}

.greenTag {
    border: 2px solid $success-color;
    color: $success-color;

}

.yellowTag {
    border: 2px solid $warning-color;
    color: $warning-color;

}

.waterBlueTag {
    border: 2px solid $dark-color;
    color: $dark-color;

}

.grayTag {
    border: 2px solid $secondary-color;
    color: $secondary-color;

}
